@import './quasar.variables'
@import '~quasar-styl'
// @import '~quasar-addon-styl'

/* Chrome, Safari, Edge, Opera */
input.textfield::-webkit-outer-spin-button,
input.textfield::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

/* Firefox */
input.textfield
  -moz-appearance: textfield
