/**********************
        Général
***********************/
#contentWrapper {
	margin : 30px 0;
    min-height: calc(100vh - 272px);
}
@keyframes highlight {
    from    { background: #fff}
    to      { background: #ffa726}
}
.aHighlight {
    animation : highlight 1s ease-in-out infinite alternate;
}

.splash {
    position: fixed;
    z-index: 9998;
    top: -100px;
    left: -100px;
    bottom: -100px;
    right: -100px;
    background:  #FAFAFA url("../img/favicon/bar.svg") no-repeat fixed center/50vh;
}

@keyframes disappear {
    0%   { opacity: 1}
    60%  { opacity: 1}
    100% { opacity: 0; visibility: hidden;}
}

.disappear {
    animation : disappear 1s ease-in forwards;
    opacity: 1;
}

.splash h1 {
    position:absolute;
    bottom: 20%;
    text-align: center;
    z-index: 9999;
    width: 100%;
    color: #cdcdcd;
}

.brand-logo img {
    height: 44px;
    margin-top: 10px;
    float: left;
}

#reset {
    right: 94px;
}

#reset i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 40px;
}

.tap-target-wave .scale-transition.scale-in {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/**********************
     Custom input type number
***********************/
.floatingArea {
    position: absolute;
    height: 40px !important;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
    padding: 0 10px;
    margin: auto;
    width: 100%;
    min-width: 140px;
    text-align: right;
}
.floatingArea input[type="text"], .floatingArea input[type="number"]{
    margin: 0 -20px;
    width: 80px;
    height: 39px;
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
    -moz-appearance:textfield;
    -webkit-appearance: none;
}
.floatingArea .btn-floating {
    margin-top: -1px;
}

/************************
    Material
*************************/
body > .container-fluid {
    transition: all 400ms;
}

/* NavBar */
nav {
    height: auto;
}
nav .input-field.col {
    top: 10px;
    height: 44px;
}
nav .input-field.col label {
    top: -10px !important;
}
nav ul.right > li {
    height: 64px;
}

.nav-wrapper .dropdown-button i {
    float: left;
}
.nav-wrapper .row {
    height: 64px;
    margin-bottom: 0;
}

.input-field input[type="number"] {
    display: block;
    line-height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem);
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 64px;
    line-height: 64px;
}
.input-field input[type="number"] + label {
    left: 1rem;
}

/* Tabs */
.tabs .indicator {
	background: #1565c0;
}
.tabs .tab a:hover, .tabs .tab a.active {
    color: #1565c0;
}
.tabs .tab a {
    color: rgba(21, 101, 192, 0.7);
}

input.invalid + label:after {
    transition-property : all;
    transition-duration : .2s;
    font-size: 0.8rem;
}

input.invalid + label:not(.active):after {
    transition-property : none;
    margin-top : -2em;
}

.activator {
	cursor: pointer;
}

/*
 * Collapsible
 */
.collapsible-body.row {
    padding: 0;
}
/*
 * Modal fixed header
 */
.modal .fixed-tabs-wrapper {
	padding-top: 10px;
}
.modal .fixed-tabs-wrapper .tabs {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.modal.bottom-sheet {
    max-height: 70%;
}
.modal-list {
    margin: 0;
}
.modal-list li {
    clear: both;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}
.modal-list li:not(.optgroup):hover, .modal-list li.active {
    background-color: #eee;
}
.modal-list li a, .modal-list li span {
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}
.modal-list [type="checkbox"] + label {
    top: 1px;
    left: 0;
    height: 18px;
}
.modal-list .optgroup {
    border-top: 1px solid #eee;
    background-color: transparent;
}
.modal-list .optgroup > span {
    color: rgba(0,0,0,0.4);
}
.modal-list li.optgroup ~ li.optgroup-option {
    padding-left: 1rem;
}
.modal-content .collapsible-body {
    padding: 0.5rem;
}
.modal-content .collapsible-body .right-align .btn-floating {
    margin-right: 0.5rem;
}

/*Toast*/

.toast .btn-flat {
    padding: 0 0.5rem;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.1rem;
    font-weight: bold;
}
.toast .btn-flat:hover {
    background: rgba(158,158,158,0.2);
}