/**********************
        Général
***********************/
#contentWrapper {
	margin : 30px 0;
    min-height: calc(100vh - 272px);
}
@keyframes highlight {
    from    { background: #fff}
    to      { background: #ffa726}
}
.aHighlight {
    animation : highlight 1s ease-in-out infinite alternate;
}

.splash {
    position: fixed;
    z-index: 9998;
    top: -100px;
    left: -100px;
    bottom: -100px;
    right: -100px;
    background:  #FAFAFA url("../img/favicon/bar.svg") no-repeat fixed center/50vh;
}

@keyframes disappear {
    0%   { opacity: 1}
    60%  { opacity: 1}
    100% { opacity: 0; visibility: hidden;}
}

.disappear {
    animation : disappear 1s ease-in forwards;
    opacity: 1;
}

.splash h1 {
    position:absolute;
    bottom: 20%;
    text-align: center;
    z-index: 9999;
    width: 100%;
}

.brand-logo img {
    height: 44px;
    margin-top: 10px;
    float: left;
}

/**********************
     Custom input type number
***********************/
.floatingArea {
    position: absolute;
    height: 40px !important;
    right: 0px;
    bottom: 0px;
    transform: translateY(50%);
    padding: 0 10px;
    margin: auto;
    width: 100%;
    min-width: 140px;
    text-align: right;
}
.floatingArea input[type="text"], .floatingArea input[type="number"]{
    margin: 0 -20px;
    width: 80px;
    height: 39px;
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
    -moz-appearance:textfield;
    -webkit-appearance: none;
}
.floatingArea .btn-floating {
    margin-top: -1px;
}

/************************
    Material
*************************/
body > .container-fluid {
    transition: all 400ms;
}

/* NavBar */
nav {
    height: auto;
}
nav .input-field.col {
    top: 10px;
    height: 44px;
}
nav .input-field.col label, .input-field.col i {
    top: -10px !important;
}
nav ul.right > li {
    height: 64px;
}

.nav-wrapper .dropdown-button i {
    float: left;
}
.nav-wrapper .row {
    height: 64px;
    margin-bottom: 0;
}

.input-field input[type="number"] {
    display: block;
    line-height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem);
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 64px;
    line-height: 64px;
}
.input-field input[type="number"] + label {
    left: 1rem;
}

/* Tabs */
.tabs .indicator {
	background: #1565c0;
}
.tabs .tab a:hover, .tabs .tab a.active {
    color: #1565c0;
}
.tabs .tab a {
    color: rgba(21, 101, 192, 0.7);
}

input.invalid + label:after {
    transition-property : all;
    transition-duration : .2s;
    font-size: 0.8rem;
}

input.invalid + label:not(.active):after {
    transition-property : none;
    margin-top : -2em;
}

.activator {
	cursor: pointer;
}

/*
 * Modal fixed header
 */
.modal .fixed-tabs-wrapper {
	padding-top: 10px;
}
.modal .fixed-tabs-wrapper .tabs {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
